.section-charging
{
    background-image: url(../img/charging.png);
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    height: 547px;
}
.charging-box
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 160px 0;
    margin-left: 400px;
}
.charging-title
{
    font-size: 50px;
    font-weight: 700;
    color: var(--grey);
    text-transform: uppercase;
    width: 420px;
    margin-bottom: 18px;
}
.charging-text
{
    font-size: 18px;
    color: var(--grey);
    width: 400px;
}