.header-container
{
    background-color: var(--grey);
}

.menu_nav
{
    display: flex;
    justify-content: space-between;
    padding: 13px 0;
}

.menu_list
{
    display: flex;
    align-items: center;
    gap: 0 24px;
}

.menu_social
{
    display: flex;
    align-items: center;
    gap: 0 24px;
}

.menu_social-img
{
    display: flex;
    justify-content: center;
}
/* ========================================================= */
.menu-logo
{
    display: flex;
    align-items: center;
    padding: 18px 20px;
}

.menu_autor
{
    display: flex;
    gap: 0 13px;
}
.menu_logo-images
{
    padding-right: 550px;
}

.menu_title
{
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 8px;
    color: var(--grey);
}
.menu_text
{
    font-size: 13px;
    width: 95px;
    text-decoration: underline;
    text-transform: lowercase;
    color: var(--blue);
}
/* =================================================================================== */
.wrapper
{
    background-color: var(--grey);
}

.wrapper-content
{
    border-bottom: 2px solid var(--grey-2);
}

.category-1_list
{
    display: flex;
    justify-content: space-between;
}

.category-1_item,
.category-2_item
{
    padding: 15px 35px;
    width: 137px;
    height: 130px;
}

.category-1_item:active,
.category-2_item:active
{
    background-color: var(--blue);
}


.category-1_img,
.category-2_img
{
    height: 80px;
    margin-bottom: 5px;
}

.category-1_text,
.category-2_text
{
    white-space: nowrap;
    text-transform: uppercase;
}

.category-1_link,
.category-2_link
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-2_list
{
    display: flex;
    justify-content: space-between;
}
/* ============================================================================== */
.shipping
{
    padding: 20px 0;
    background-color: var(--blue);
}

.shipping-text
{
    text-align: center;
    text-transform: uppercase;
}