.header-container
{
    background-color: var(--grey);
}

.menu_nav
{
    display: flex;
    justify-content: space-between;
    padding: 13px 0;
}

.menu_list
{
    display: flex;
    align-items: center;
    gap: 0 24px;
}

.menu_social
{
    display: flex;
    align-items: center;
    gap: 0 24px;
}

.menu_social-img
{
    display: flex;
    justify-content: center;
}
/* ========================================================= */
.menu-logo
{
    display: flex;
    align-items: center;
    padding: 18px 20px;
}

.menu_autor
{
    display: flex;
    gap: 0 13px;
}
.menu_logo-images
{
    padding-right: 550px;
}

.menu_title
{
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 8px;
    color: var(--grey);
}
.menu_text
{
    font-size: 13px;
    width: 95px;
    text-decoration: underline;
    text-transform: lowercase;
    color: var(--blue);
}
/* =================================================================================== */
.wrapper
{
    background-color: var(--grey);
}

.category-1_list
{
    display: flex;
    justify-content: space-between;
}

.category-2_list
{
    display: flex;
    justify-content: space-between;
}
