.kickscooter-title
{
    font-size: 50px;
    font-weight: 700;
    color: var(--grey);
    text-transform: uppercase;
    text-align: center;
}
.kickscooter-text
{
    font-size: 18px;
    color: var(--grey-2);
}
.kickscooter-blok
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.electronic::after
{
    content: '';
    position: absolute;
    background-image: url(../img/kickscooter/kickscooter-box-1/vector-1.svg);
    background-repeat: no-repeat;
    background-position: left top;
    top: 77px;
    right: 0;
    left: 160px;
    bottom: 0;
}
.bell::after
{
    content: '';
    position: absolute;
    background-image: url(../img/kickscooter/kickscooter-box-1/vector-2.svg);
    background-repeat: no-repeat;
    background-position: left top;
    top: 115px;
    right: 0;
    left: 40px;
    bottom: 0;
}
.brake::after
{
    content: '';
    position: absolute;
    background-image: url(../img/kickscooter/kickscooter-box-1/vector-3.svg);
    background-repeat: no-repeat;
    background-position: left top;
    top: 140px;
    right: 0;
    left: 120px;
    bottom: 0;
}
.headlight::after
{
    content: '';
    position: absolute;
    background-image: url(../img/kickscooter/kickscooter-box-1/vector-4.svg);
    background-repeat: no-repeat;
    background-position: left center;
    top: -150px;
    right: 0;
    left: 95px;
    bottom: 0;
}
.quick::after
{
    content: '';
    position: absolute;
    background-image: url(../img/kickscooter/kickscooter-box-1/vector-5.svg);
    background-repeat: no-repeat;
    background-position: left center;
    top: 65px;
    right: 0;
    left: 180px;
    bottom: 0;
}
.folding::after
{
    content: '';
    position: absolute;
    background-image: url(../img/kickscooter/kickscooter-box-1/vector-6.svg);
    background-repeat: no-repeat;
    background-position: left center;
    top: 130px;
    right: 0;
    left: 170px;
    bottom: 0;
}
.front::after
{
    content: '';
    position: absolute;
    background-image: url(../img/kickscooter/kickscooter-box-1/vector-7.svg);
    background-repeat: no-repeat;
    background-position: left center;
    top: 250px;
    right: 0;
    left: 100px;
    bottom: 0;
}
.drum::after
{
    content: '';
    position: absolute;
    background-image: url(../img/kickscooter/kickscooter-box-1/vector-8.svg);
    background-repeat: no-repeat;
    background-position: left center;
    top: 335px;
    right: 0;
    left: 110px;
    bottom: 0;
}
































.kickscooter-box-1
{
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    padding-top: 50px;
}
.kickscooter-box-2
{
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    text-align: right;
}
.kickscooter-img
{
    padding-top: 45px;
}