.kickscooter-title
{
    font-size: 50px;
    font-weight: 700;
    color: var(--grey);
    text-transform: uppercase;
    text-align: center;
}
.kickscooter-text
{
    font-size: 18px;
    color: var(--grey-2);
}
.kickscooter-blok
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
/* ======================== kickscooter-box-1 ============================ */
.electronic::after
{
    content: '';
    position: absolute;
    background-image: url(../img/kickscooter/kickscooter-box-1/vector-1.svg);
    background-repeat: no-repeat;
    background-position: left top;
    top: 77px;
    right: 0;
    left: 160px;
    bottom: 0;
}
.electronic
{
    color: var(--blue);
}
.bell::after
{
    content: '';
    position: absolute;
    background-image: url(../img/kickscooter/kickscooter-box-1/vector-2.svg);
    background-repeat: no-repeat;
    background-position: left top;
    top: 115px;
    right: 0;
    left: 40px;
    bottom: 0;
}
.brake::after
{
    content: '';
    position: absolute;
    background-image: url(../img/kickscooter/kickscooter-box-1/vector-3.svg);
    background-repeat: no-repeat;
    background-position: left top;
    top: 140px;
    right: 0;
    left: 120px;
    bottom: 0;
}
.headlight::after
{
    content: '';
    position: absolute;
    background-image: url(../img/kickscooter/kickscooter-box-1/vector-4.svg);
    background-repeat: no-repeat;
    background-position: left center;
    top: -150px;
    right: 0;
    left: 95px;
    bottom: 0;
}
.quick::after
{
    content: '';
    position: absolute;
    background-image: url(../img/kickscooter/kickscooter-box-1/vector-5.svg);
    background-repeat: no-repeat;
    background-position: left center;
    top: 65px;
    right: 0;
    left: 180px;
    bottom: 0;
}
.folding::after
{
    content: '';
    position: absolute;
    background-image: url(../img/kickscooter/kickscooter-box-1/vector-6.svg);
    background-repeat: no-repeat;
    background-position: left center;
    top: 130px;
    right: 0;
    left: 170px;
    bottom: 0;
}
.front::after
{
    content: '';
    position: absolute;
    background-image: url(../img/kickscooter/kickscooter-box-1/vector-7.svg);
    background-repeat: no-repeat;
    background-position: left center;
    top: 250px;
    right: 0;
    left: 100px;
    bottom: 0;
}
.drum::after
{
    content: '';
    position: absolute;
    background-image: url(../img/kickscooter/kickscooter-box-1/vector-8.svg);
    background-repeat: no-repeat;
    background-position: left center;
    top: 335px;
    right: 0;
    left: 110px;
    bottom: 0;
}
/* ============================== kickscooter-box-2 ============================== */
.dashboard::after
{
    content: '';
    position: absolute;
    background-image: url(../img/kickscooter/kickscooter-box-2/vector-1.svg);
    background-repeat: no-repeat;
    background-position: top right;
    top: 120px;
    right: 285px;
    left: 0;
    bottom: 0;
}
.stem::after
{
    content: '';
    position: absolute;
    background-image: url(../img/kickscooter/kickscooter-box-2/vector-2.svg);
    background-repeat: no-repeat;
    background-position: center right;
    top: -135px;
    right: 110px;
    left: 0;
    bottom: 0;
}
.battery::after
{
    content: '';
    position: absolute;
    background-image: url(../img/kickscooter/kickscooter-box-2/vector-3.svg);
    background-repeat: no-repeat;
    background-position: center right;
    top: 150px;
    right: 200px;
    left: 0;
    bottom: 0;
}
.changing::after
{
    content: '';
    position: absolute;
    background-image: url(../img/kickscooter/kickscooter-box-2/vector-4.svg);
    background-repeat: no-repeat;
    background-position: center right;
    top: 165px;
    right: 180px;
    left: 0;
    bottom: 0;
}
.charge::after
{
    content: '';
    position: absolute;
    background-image: url(../img/kickscooter/kickscooter-box-2/vector-5.svg);
    background-repeat: no-repeat;
    background-position: center right;
    top: 240px;
    right: 160px;
    left: 0;
    bottom: 0;
}
.kickstand::after
{
    content: '';
    position: absolute;
    background-image: url(../img/kickscooter/kickscooter-box-2/vector-6.svg);
    background-repeat: no-repeat;
    background-position: center right;
    top: 220px;
    right: 150px;
    left: 0;
    bottom: 0;
}
.rear::after
{
    content: '';
    position: absolute;
    background-image: url(../img/kickscooter/kickscooter-box-2/vector-7.svg);
    background-repeat: no-repeat;
    background-position: center right;
    top: 270px;
    right: 165px;
    left: 0;
    bottom: 0;
}
.brakes::after
{
    content: '';
    position: absolute;
    background-image: url(../img/kickscooter/kickscooter-box-2/vector-8.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    top: 0;
    right: 160px;
    left: 0;
    bottom: 112px;
}
.hub::after
{
    content: '';
    position: absolute;
    background-image: url(../img/kickscooter/kickscooter-box-2/vector-9.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    top: 0;
    right: 155px;
    left: 0;
    bottom: 83px;
}
.kickscooter-box-1
{
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    padding-top: 50px;
}
.kickscooter-box-2
{
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    text-align: right;
    padding-top: 50px;
}
.kickscooter-img
{
    padding-top: 45px;
}