.scooter_contents
{
    display: flex;
}

.scooter_inner
{
    margin-top: 42px;
}

.scooter_btn
{
    font-size: 13px;
    color: var(--green);
    border: 2px solid var(--green);
    padding: 10px 30px;
    margin-bottom: 11px;
}

.scooter_title
{
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--grey);
    width: 567px;
    line-height: 87%;
    margin-bottom: 13px;
}
.segway-title
{
    width: 750px;
}
.segway-img
{
    margin-left: -165px;
}

.scooter_box
{
    box-sizing: border-box;
    border: 2px solid rgb(153, 153, 153);
    padding: 23px 20px;
    width: 542px;
    margin-bottom: 20px;
}

.scooter_box-text
{
    color: var(--grey-2);
    margin-bottom: 8px;
}

.scooter_box-text span
{
    color: var(--grey);
}

.scooter_input
{
    width: 160px;
    height: 36px;
    border: 1px solid rgb(153, 153, 153);
}

.scooter_form
{
    margin-bottom: 20px;
}

.scooter_input::placeholder
{
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: var(--grey);
    text-align: center;
}

.scooter_prayset
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 30px;
    margin-bottom: 13px;
}

.price_smoll
{
    text-decoration-line: line-through;
    color: var(--grey);
}

.price_big
{
    font-size: 35px;
    font-weight: 700;
    color: var(--grey);
}

.scooter_prayset-text
{
    font-weight: 600;
    color: var(--blue);
    width: 145px;
}

.scooter_prayset-buttons
{
    display: flex;
    gap: 0 22px;
}

.scooter_prayset-btn
{
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--blue);
    width: 240px;
    height: 48px;
}

.scooter_pay-text
{
    color: var(--grey-2);
    margin-bottom: 8px;
}

.scooter-text
{
    font-weight: 600;
    color: var(--blue);
}

.scooter-doct
{
    font-weight: 600;
    color: black;
}

.scooter-now
{
    font-weight: 600;
    color: var(--green);
}

.scooter_pay-list
{
    display: flex;
    gap: 0 6px;
}

.scooter_bg
{
    margin-top: 14px;
}